@import "@/assets/css/main-styles.scss";

.mia-navbar {
  background-color: #b4ff9f !important;
}

.our-nav {
  color: #000000 !important;
  background-color: #c3efcb;
}
.our-nav * {
  color: #000000 !important;
  background-color: #c3efcb;
}
