@import '@/assets/css/main-styles.scss';


.mia-navbar {
    background-color: #B4FF9F !important;     
}


.our-nav{
  color:#000000 !important;
  background-color:#c3efcb ;
}
.our-nav *{
  color:#000000 !important;
  background-color:#c3efcb ;
}
