<%- include('./head.ejs', {headTitle:title}); %>
    <style>
    .btn {
        width: fit-content !important;
        height: fit-content !important;
    }
</style>
    <h1 class="text-center m-3 p-2">Client anagraphics</h1>
    <div class="container-fluid w-100 user-container">

    </div>
    <template class="user-template">
        <div class="row m-5 border border-dark p-3">
            <div class="col">
                <h2 id="name">Name surname</h2>
                <h4 id="email">email@email.com</h4>
                <p id="contact">+39 696 969 6969</p>
                <p id="id">198374F5980274F9KERS55TSU</p>
            </div>
            <div class="col d-flex justify-content-end align-items-center">
                <button type="button" class="btn btn-secondary m-2"
                    id="account-edit">Modifica account</button>
                <button type="button" id="delete-button" class="btn btn-danger
                    m-2">Elimina account</button>
            </div>
        </div>
    </template>
    <script>

function redirect(id){
    window.location = `/backoffice/pet?id=${id}`;
}

async function delete_user_by_id(id){
    try {
        let res = await fetch(`/api/backoffice/delete_user_by_id`, {
            method: "DELETE",
            credentials: "include",
            headers: {
                'Accept': '*/*',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({id:id})
        });
        res = await res.json();
        if (res.success) {
          getUsers();
        }
    } catch (e) {
        alert("Unable to delete user: ", e);
    }
}

async function loadUsers(data){
    data = data.users;
    for(let usr of data){
        const newUser = $(".user-template").clone()[0].content;
        $("#name",newUser).text(`${usr.name} ${usr.surname}`);
        $("#email",newUser).text(usr.email);
        $("#contact",newUser).text(usr.contact);
        $("#id",newUser).text(usr._id);
        $("#delete-button", newUser).click(()=>{delete_user_by_id(usr._id)});
        $('.user-container').append(newUser);
    }
}

async function getUsers() {
    $('.user-container').empty();
    try {
        let res = await fetch(`/api/backoffice/get_all_users`,{
            method:"POST",
            credentials:'include',
            headers: {
                'Accept': '*/*',
                'Content-Type': 'application/json'
            },
        });
        let user = await res.json();
        loadUsers(user);
    }catch(e) {
        alert("Unable to get all users: ", e)
    }
}

getUsers();
</script>


    <%- include('./foot.ejs'); %>
