<%- include('./head.ejs', {headTitle:title}); %>
<div class="container-fluid w-100 ">
  <div class="row mx-auto w-100">
    <div class="col mx-auto text-center">
     <h1> Face to face bookings </h1>
    </div>
  </div>
  <div class="row mx-auto w-100">
    <div class="col mx-auto text-center">
      <div class="bookings-container">
      </div>
    </div>
  </div>
</div>


<script>
  async function getBookings() {
    let res = await fetch("/backoffice/get_all_bookings", {credentials: "include"});
    let data = await res.json();
    let bookings = data.bookings;
    $('.bookings-container').html('');
    if (bookings.length == 0) {
      $('.bookings-container').html('<div>No bookings found</div>');
      return;
    }
    for(let book of bookings){
        if (book.isOnline)
          continue;
        const newUser = $("#booking-template").clone()[0].content;
        $("#title",newUser).text(book.title);
        $("#where",newUser).text(`${book.availability.address}, ${book.availability.city}`);
        let begin = new Date(book.hour.begin);
        begin = begin.toString()
        begin = begin.replace(begin.substring(begin.indexOf("GMT")), "")
        let end= new Date(book.hour.end);
        end = end.toString()
        end = end.replace(end.substring(end.indexOf("GMT")), "")
        $("#begin",newUser).text("Begin: " + begin);
        $("#end",newUser).text("End: " + end);
        $("#who",newUser).text("User: " + book.userName);
        $("#email",newUser).text("Email: " + book.email);
        $("#booking-delete",newUser).click(()=>{deleteBooking(book)});
        $('.bookings-container').append(newUser);
    }
  }
  async function deleteBooking(booking) {
    try {
      let b = await (await fetch(`/backoffice/delete_booking`, {
        method: "DELETE",
        credentials: "include",
        headers: {
          'Accept': '*/*',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ slug: booking.slug, avaId: booking.availability._id, shiftId: booking.shift._id, hourId: booking.hour._id })
      })).json();
      if (b.success === false)
        alert("Can't delete booking !");
      else
        getBookings();
    } catch (e) {
      alert(e);
    }
  }

  getBookings();
</script>

<template id="booking-template">
    <div class="row mb-2 border border-dark p-3">
        <div class="col-xs-12 col-sm-8 ml-auto text-left">
            <h2 id="title">Title</h2>
            <div id="where">Where</div>
            <div id="begin">begin</div>
            <div id="end">end</div>
            <div id="who">Who</div>
            <div id="email">Email</div>
        </div>
        <div class="col-xs-12 col-sm-4 d-flex justify-content-end align-items-center">
            <button type="button" class="btn btn-secondary m-2" id="account-edit">Modifica account</button>
            <button type="button" class="btn btn-danger m-2" id="booking-delete">Elimina account</button>
        </div>
    </div>
</template>
