<%- include('./head.ejs', {headTitle:title}); %>
<div class="container-fluid w-100 user-container">
    <div class="row d-flex justify-content-center m-5">
        <div class="col-12 col-md-8 text-center">
            <h1 class="mb-4">Backoffice home</h1>
            <p>
                Hi admin, this is the backoffice, here you can manage everything related to the website.<br/>
            </p>
            
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-4 text-center m-2">
            <button class="btn btn-primary w-75" onclick="window.location='anagraphic'" >Anagraphic</button>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-4 text-center m-2">
            <button class="btn btn-primary w-75" onclick="window.location='pets'" >Pets</button>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-4 text-center m-2">
            <button class="btn btn-primary w-75" onclick="window.location='shop'" >Shop</button>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-4 text-center m-2">
            <button class="btn btn-primary w-75" onclick="window.location='games'" >Games</button>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-4 text-center m-2">
            <button class="btn btn-primary w-75" onclick="window.location='facetoface'" >Face to Face</button>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-4 text-center m-2">
            <button class="btn btn-primary w-75" onclick="window.location='community'" >Community</button>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-4 text-center m-2">
            <button class="btn btn-primary w-75" onclick="window.location='online'" >Online</button>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-4 text-center m-2">
            <button class="btn btn-primary w-75" onclick="window.location='posts'" >Posts</button>
        </div>
    </div>
</div>



<%- include('./foot.ejs'); %>
