
    <main>
        <div class="container-fluid">
            <div class="row justify-content-center m-5 p-5">
                <div class="col-8">
                    <h1>Effettua il login</h1>
                    <form action="/backoffice/login" method="POST" id="login">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" aria-describedby="usernameHelp">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script>
        $(document).ready(()=>{
            $("#login").submit(function(event){
                var formval = {
                    username: $("#username").val(),
                    password: $("#password").val()
                }
                $.ajax({
                    url : "/backoffice/login",
                    type: "POST",
                    dataType: 'json',
                    processData: false,
                    contentType: 'application/json',
                    data:JSON.stringify(formval),
                    success: (data)=>{
                        if(data.response){
                            window.location="/backoffice/home";
                        }else{
                            alert(`User not found!`);
                        }
                    }
                });
                event.preventDefault();
            });
        });
    </script>
</body>
</html>