header a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.product {
  border: 1px solid #404040;
  margin: 1rem;
}

.product img {
  width: 100%;
  max-width: 400px;
}
.site-container {
  min-height: 100vh;
}
main {
  flex: 1;
}

.rating span {
  color: #00afb9;
}
.link-primary {
  color: #973902 !important;
}
.link-secondary {
  color: #000000 !important;
  font-weight: bold;
}
.btn-primary {
  background-color: #f07167;
  border-color: #f07167;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: #00afb9;
  border-color: #00afb9;
}

.item-thumbnail {
  height: 80px !important;
}

.small-container {
  max-width: 600px !important;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid #074f57;
  color: #074f57;
}

.checkout-steps > div.current {
  border-bottom: 0.2rem solid #973902;
  color: #973902;
}
