
$text-color: #292b2c;
$text-color-key: #ffffff;
$text-accent-color: #292b2c;
$bg-color: #1c1ffe20;
$bg-color-game: #ffffff;
$bg-accent-color: #292b2c;
$border-color: #292b2c;
$bg-transparent-color: rgba(#141516, 0.75);
$shadow-color: 5px 5px 5px rgba(#0f0f0f21, 0.25);
$absent-color: #3a3a3c;
$present-color: #b59f3b;
$correct-color: #538d4e;
$incorrect-color: #ec5d5d;